<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.936042370977-rp9tn7aa39gdfnlptblb2log8itf2ucl</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>936042370977-rp9tn7aa39gdfnlptblb2log8itf2ucl.apps.googleusercontent.com</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Engify uses your microphone for speaking practice, pronunciation review, and interactive English exercises.</string>
</dict>
</plist>
